NodeRED with AL1950
[{"id":"afba4e44.e16d","type":"tab","label":"AL1900 DV2131","disabled":false,"info":""},{"id":"2b961c9f.62fa24","type":"http request","z":"afba4e44.e16d","name":"POST Message","method":"POST","ret":"obj","paytoqs":false,"url":"192.168.0.104","tls":"","proxy":"","authType":"","x":540,"y":90,"wires":[["520a4e0b.1a359"]]},{"id":"42d892b.b3c306c","type":"ui_button","z":"afba4e44.e16d","name":"Red","group":"b8eb57b3.cb2128","order":1,"width":0,"height":0,"passthru":false,"label":"Red LED","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"code\":\"request\",\"cid\":48,\"adr\":\"/iolinkmaster/port[2]/iolinkdevice/pdout/setdata\",\"data\":{\"newvalue\":\"0003\"}}","payloadType":"json","topic":"","x":190,"y":70,"wires":[["2b961c9f.62fa24"]]},{"id":"c813f189.2b4d6","type":"ui_button","z":"afba4e44.e16d","name":"Amber","group":"b8eb57b3.cb2128","order":1,"width":0,"height":0,"passthru":false,"label":"Amber LED","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"code\":\"request\",\"cid\":48,\"adr\":\"/iolinkmaster/port[2]/iolinkdevice/pdout/setdata\",\"data\":{\"newvalue\":\"0002\"}}","payloadType":"json","topic":"","x":160,"y":120,"wires":[["2b961c9f.62fa24"]]},{"id":"9d581c60.1ce59","type":"ui_button","z":"afba4e44.e16d","name":"Green","group":"b8eb57b3.cb2128","order":1,"width":0,"height":0,"passthru":false,"label":"Green LED ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"code\":\"request\",\"cid\":48,\"adr\":\"/iolinkmaster/port[2]/iolinkdevice/pdout/setdata\",\"data\":{\"newvalue\":\"0004\"}}","payloadType":"json","topic":"","x":100,"y":170,"wires":[["2b961c9f.62fa24"]]},{"id":"cb60894a.9536b8","type":"ui_button","z":"afba4e44.e16d","name":"Off","group":"b8eb57b3.cb2128","order":1,"width":0,"height":0,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"code\":\"request\",\"cid\":48,\"adr\":\"/iolinkmaster/port[2]/iolinkdevice/pdout/setdata\",\"data\":{\"newvalue\":\"0000\"}}","payloadType":"json","topic":"","x":160,"y":230,"wires":[["2b961c9f.62fa24"]]},{"id":"968e98fc.dbf798","type":"ui_switch","z":"afba4e44.e16d","name":"Buzzer & Red LED","label":"Buzzer & Red LED","tooltip":"","group":"b8eb57b3.cb2128","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"code\":\"request\",\"cid\":48,\"adr\":\"/iolinkmaster/port[2]/iolinkdevice/pdout/setdata\",\"data\":{\"newvalue\":\"1111\"}}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"code\":\"request\",\"cid\":48,\"adr\":\"/iolinkmaster/port[2]/iolinkdevice/pdout/setdata\",\"data\":{\"newvalue\":\"0000\"}}","offvalueType":"json","officon":"","offcolor":"","x":190,"y":310,"wires":[["2b961c9f.62fa24","f970e6f1.014a78"]]},{"id":"a61fbda2.8ab62","type":"ui_media","z":"afba4e44.e16d","group":"b8eb57b3.cb2128","name":"","width":0,"height":0,"order":6,"category":"media","file":"Hex ifm.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":180,"y":430,"wires":[[]]},{"id":"6c3c0e91.11667","type":"ui_toast","z":"afba4e44.e16d","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"Alarm Triggered","name":"Alarm Triggered","x":620,"y":320,"wires":[[]]},{"id":"f970e6f1.014a78","type":"switch","z":"afba4e44.e16d","name":"","property":"payload.data.newvalue","propertyType":"msg","rules":[{"t":"eq","v":"1111","vt":"str"},{"t":"eq","v":"0000","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":390,"wires":[["6c3c0e91.11667"],["cbf51e91.4b4fb"]]},{"id":"cbf51e91.4b4fb","type":"ui_toast","z":"afba4e44.e16d","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"Alarm Reset","name":"Alarm Reset","x":590,"y":430,"wires":[[]]},{"id":"48dbee3.259e71","type":"inject","z":"afba4e44.e16d","name":"GET PDV1","topic":"","payload":"{\"code\":\"request\",\"cid\":4711,\"adr\":\"/iolinkmaster/port[1]/iolinkdevice/pdin/getdata\"}","payloadType":"json","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":510,"y":190,"wires":[["2b961c9f.62fa24"]]},{"id":"7813dc67.174114","type":"debug","z":"afba4e44.e16d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":110,"wires":[]},{"id":"520a4e0b.1a359","type":"change","z":"afba4e44.e16d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":210,"wires":[["7813dc67.174114"]]},{"id":"b8eb57b3.cb2128","type":"ui_group","z":"","name":"DV2131 Control","tab":"7d50ba04.82ce64","disp":true,"width":"6","collapse":false},{"id":"7d50ba04.82ce64","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
